body {
    background-color: black;
}

section {
    background-color: white;
    padding: 0px 0px 10px 0px;
}

#vitrubio {
    width: 100%;
}

nav {
    z-index: 100;
    font-family: Impact;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    height: 90px;
    line-height: 90px;
}

footer {
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    height: 90px;
    line-height: 90px;
}

.uiitem {
    color: white;
    text-align: center;
    width: 250px;
    height: 60px;
}

.uitxt {
    position: relative;
    top: -107px;
    left: 40px;
    line-height: 14px;
    text-align: center;
}

.uiimg {
    height: 70px;
    position: relative;
    right: 30%;
    margin: 10px;
}

.obra {
    width: 76%;
    border: outset;
    border-color: gold;
    border-width: 12px;
    margin: 10px;
}

.obra:hover {
    border-width: 18px;
    margin: 4px;
}

.placa {
    position: relative;
    left: 5%;
    width: 76%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: black;
    border: double;
    background-color: gold;
    border-width: 5px;
    font-weight: bold;
    margin: 0px 0px 1% 0px;
}

#license {
    position: absolute;
    bottom: 0px;
    right: 10px;
}

#creditos {
    position: absolute;
    bottom: 0px;
    right: 150px;
}

#galeria {
    display: grid;
}

#galeria a {
    grid-row-start: 1;
}


.credit_item {
    position: relative;
    left: 10%;
    height: 200px;
}

.credit_item img {
    height: 200px;
}

.credit_item p {
    font-family: Impact;
    position: relative;
    top: -220px;
    left: 250px;
    line-height: 200px;
    margin: 0px 0px -150px 0px;
    font-size: 36px;
}

br {
    line-height: 100px;
}