body {
    background-color: mediumaquamarine;
}

nav {
    z-index: 100;
    font-family: Impact;
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    height: 90px;
    width: 100%;
    line-height: 90px;
}

footer {
    position: absolute;
    bottom:0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    width: 100%;
    height: 90px;
    line-height: 90px;
}

.uiitem {
    text-align: center;
    width: 250px;
    height: 60px;
}

.uitxt {
    position: relative;
    top: -90px;
    left: 60px;
    line-height: 14px;
    text-align: center;
    text-indent: 0px;
}

.uiimg {
    height: 70px;
    position: relative;
    right: 20%;
    margin: 10px;
}

#license {
    position: absolute;
    bottom: 0px;
    right: 10px;
}

#creditos {
    position: absolute;
    bottom: 0px;
    right: 150px;
}

.obra {
    width: 22%;
    border: outset;
    border-color: gold;
    border-width: 12px;
    margin: 10px;
}

#texto {
    width: 48%;
    position: absolute;
    left: 30%;
    top: 135px;
    text-align: justify;
}

p {
    text-indent: 3em;
    margin: 0px 0px 3px 0px;
}


#anuncio {
    position: absolute;
    top: 90px;
    right: 0px;
    width: 18%;
}